<ion-view view-title="Comida">
  <ion-content class="padding">
    
	<div class="list card">
    	<div class="item"><div style="float: right; clear: left;"><IMG style="width: auto; max-height: 100px; " src="img/Pizza.jpg"></div>
        	<h2>Pizza</h2>
        	<p>Pan redondo con queso</p>
        	<p>$70.00</p>
    	</div>
   	 
    	<div class="item"><div style="float: right; clear: left;"><IMG style="width: auto; max-height: 100px; " src="img/hotdog.jpg"></div>
        	<h2>Hotdog</h2>
        	<p>Pan con salchicha</p>
        	<p>$25.00</p>
    	</div>
    	
    	<div class="item"><div style="float: right; clear: left;"><IMG style="width: auto; max-height: 100px; " src="img/crepas.jpg"></div>
        	<h2>Crepa</h2>
        	<p>hotcake delgado</p>
        	<p>$30.00</p>
    	</div>
    	
    	<div class="item"><div style="float: right; clear: left;"><IMG style="width: auto; max-height: 100px; " src="img/spaghetti.jpg"></div>
        	<h2>spaghetti a la Bolognesa</h2>
        	<p>spaghetti con salsa de tomate y albondigas</p>
        	<p>$60.00</p>
    	</div>
    	
    	<div class="item"><div style="float: right; clear: left;"><IMG style="width: auto; max-height: 100px; " src="img/Penne.jpg"></div>
        	<h2>Penne arrabbiata</h2>
        	<p>Plumas de pasta con salsa de tomate y chile</p>
        	<p>$60.00</p>
    	</div>
	</div>
    
  </ion-content>

</ion-view>
