<ion-view view-title="Vinos">
  <ion-content>
    <div class="list card">
    	<div class="item"><div style="float: right; clear: left;"><IMG style="width: auto; max-height: 140px; " src="img/starwars7.jpg"></div>
        	<h2>Vino</h2>
        	<p>una copa</p>
        	<p>$50.00</p>
    	</div>
   	 
    	<div class="item">
        	<h2>Te Helado</h2>
        	<p>te lipton</p>
        	<p>$15.00</p>
    	</div>
    	
    	<div class="item">
        	<h2>Refresco</h2>
        	<p>lata</p>
        	<p>$10.00</p>
    	</div>
    	
    	<div class="item">
        	<h2>Cerveza</h2>
        	<p>lata</p>
        	<p>$40.00</p>
    	</div>
    	
    	<div class="item">
        	<h2>Limonada con Fresa</h2>
        	<p>rellenable</p>
        	<p>$20.00</p>
    	</div>
	</div>
  </ion-content>
</ion-view>
